<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Food Donation App - Login</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Welcome to Food Donation App</h1>
    <div class="login-container">

        <h2>Login</h2>
        <form id="login-form" action="/login" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <select id="category" name="category" required>
                    <option value="donor">Donor</option>
                    <option value="receiver">Receiver</option>
                </select>
            </div>
            <button type="submit">Login</button>
            <div class = "inline">
            <p>{{ error_message }}</p>
            </div>
        </form>
        <!-- Display error message if login fails -->
        
        <p>Not having an account? <a href="/signup_page">Sign up</a></p>
    </div>
    <script src="script.js"></script>
</body>
</html>

